.navbar {
    background-color: var(--cor-de-fundo-primaria);
    position: fixed;
    top: 0;    
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
}

.container.navbar-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-conteudo a {
    color:#005704;
    text-decoration: none;
    font-weight: 600;
}

.navbar-conteudo a:hover {
  color: #04910b;
}

.logo-imagem {
    width: 50px;
    height: auto;
    padding: 10px 0 0 0;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    text-align: center;
    list-style: none;
}

.navbar-links li {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 5px 10px;
}

.navbar-links li:hover {
    border: 1px solid #04910b;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); 
    transform: translateY(-2px);
}

.menu-toggle {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

@media (max-width: 1280px) {

   .navbar {
    height: 60px;
  }
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    position: fixed;
    top: 60px;
    right: 0;
    background-color: var(--cor-de-fundo-primaria);
    width: 40%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 0 0 8px 8px;
    z-index: 100;
  }

  .navbar-links.ativo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}