.rodape {
    background-color:rgb(0, 65, 16);
    padding: 15px 0;
    font-size: 14px;
}

.rodape-textos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.rodape .rodape-texto {
    color:#c2c2bf;
    line-height: 1.4;
}

/* Mobile */
@media (max-width: 600px) {
  .rodape {
    font-size: 12px;
    padding: 20px 10px;
  }

  .rodape-textos {
    flex-direction: column;
    gap: 8px;
  }
}