:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cor-titulo: #005704;
  --cor-texto: #555;
  --cor-texto-secundaria:rgba(255, 255, 255, 0.87);
  --cor-texto-claro:white;
  --cor-de-fundo-primaria:  rgb(197, 196, 196);
  --cor-de-fundo-secundaria: #f5e8dc;
  --font-principal: 'Arial', sans-serif;

  --largura-maxima: 1000px;
  --padding-desktop: 50px;
  --padding-tablet: 30px;
  --padding-mobile: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: var(--font-principal);
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: var(--largura-maxima);
  margin: 0 auto;    
  padding: 0 var(--padding-desktop);
  box-sizing: border-box;
}

h2 {
  color: var(--cor-titulo);
  font-family: var(--font-principal);
  font-size: 30px;
}

p {
  color: var(--cor-texto);
  font-family: var(--font-principal);
}

/* Tablet */
@media (max-width: 1280px) {
  .container {
    width: min(100%,700px);
    padding: 0 var(--padding-tablet);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 var(--padding-mobile);
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}

