.consulta-online {
  background-color: var(--cor-de-fundo-primaria);
  padding: 60px 0;
}

.consulta-online-titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.consulta-online-intro {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 30px;
  line-height: 1.6;
  color: var(--cor-texto-claro);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.consulta-online-lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(82, 134, 80, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  color: var(--cor-texto-secundaria);
}

.consulta-online-item {
  background-color: rgba(82, 134, 80);
  border-radius: 10px;
  padding: 18px 22px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-size: 18px;
  line-height: 1.6;
}

.consulta-online-item strong {
  color: #ffffff;
}

@media (max-width: 600px) {
  .consulta-online-titulo {
    font-size: 30px;
  }

   .consulta-online-intro {
    font-size: 19px;
  }
}