.depoimentos {
    background-color: var(--cor-de-fundo-secundaria);
    padding: 30px;
}

.depoimentos-titulo {
    text-align: center;
}

.caixa-depoimentos {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0;
}

.caixa-depoimento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 10px;
    border: 2px solid rgb(121, 120, 120);
    border-radius: 8px;
}

.caixa-depoimento-texto {
    font-size: 16px;
}

.caixa-depoimento-nome {
    text-align: right;
    color: black;
    font-weight: 600;
    padding: 10px 0;
}

/*Tablet*/
@media (max-width: 1280px) {
  .caixa-depoimentos {
    flex-wrap: wrap;
    gap: 25px;
  }

  .caixa-depoimento {
    width: 45%;
  }
}

/*Celular*/
@media (max-width: 600px) {
  .caixa-depoimentos {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .caixa-depoimento {
    width: 100%;
    max-width: 400px;
  }

  .caixa-depoimento-texto {
    font-size: 15px;
  }

  .caixa-depoimento-nome {
    font-size: 14px;
  }
}