.botao {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    font-weight: 700;
    color: var(--cor-texto-claro);             
    background: linear-gradient(90deg, #dfcbb8, #66aa66); 
    border: none;                        
    border-radius: 8px;                  
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;               
    text-align: center;
    
}

.botao:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.botao svg {
    width: 20px;
    height: 20px;
}

/* Responsividade - celular */
@media (max-width: 600px) {
  .botao {
    gap: 7px;
    font-size: 0.9rem;
    padding: 10px 22px;

  }

  .botao svg {
    width: 18px;
    height: 18px;
  }
}